<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Home Page</title>
</head>

<body>

    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}

    <div id="wrapper">
        <header>
            <!-- Navigation -->
            <nav>
                <div>
                    <a href="/">Home</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/search">Search</a>
                </div>
                {{#if isAuthenticated}}
                <div class="user">
                    <a href="/create">Add Animal</a>
                    <a href="/logout">Logout</a>
                </div>
                {{else}}
                <div class="guest">
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </div>
                {{/if}}
            </nav>
        </header>

        <main class="home">
            <!-- Home page -->
            <section id="home">
                <h1>Welcome to Friendly World</h1>
                <h2>Let's help together</h2>
                <h3>We are global animal welfare organisation for animals under direct human influence, which reveals
                    suffering, rescues animals in need and protects them. Our vision is a world where humans treat
                    animals with respect, empathy and understanding.</h3>
            </section>

            <section id="last-added">
                {{#each animals}}
                <div>
                    <img src="{{image}}">
                    <p>Name: {{name}}</p>
                    <p>Need of: {{need}}</p>
                    <a class="details-btn" href="/details/{{_id}}">Details</a>
                </div>
                {{else}}
                <p class="no-post">There are no animals in need!</p>
                {{/each}}
            </section>
        </main>

        <footer>
            <p>@Friendly World</p>
        </footer>
    </div>
</body>

</html>